@charset "utf-8";
body, div, p, a, ul, li, span, b, input, img{
	padding: 0;
	margin: 0 auto; 
	font: 1em "Microsoft YaHei","微软雅黑";
	color: #222222;
}
ul, li {list-style: none;text-decoration: none;}
a {text-decoration: none;color: #222222;-webkit-tap-highlight-color:transparent;}
i {font-style: normal;}
img {border: 0;}
body {background: #f2f2f2;}
/*card*/
/*Cnav*/
.Cnav {height: 44px;background: #ffffff;padding: 0 10px;overflow: hidden;}
.Cnav .return {float: left;}
.Cnav .return img {float: left;width: 12px;margin-top: 10px;}
.Cnav .return span {line-height: 44px;font-size: 1.12em;display: inline-block;padding-left: 6px;}
.Cnav .grzx {float: right;line-height: 44px;font-size: 1.12em;}
/*card_img*/
.card_img {position: relative;padding: 17px 20px;}
.card_img a {display: block;}
.card_img img {display: block;width: 100%;}
.card_img .dayNum,.xqtp .dayNum {
	position: absolute;
	color: #ffffff;
	top: 20px;
	left: 20px;
	height:34px;
	font-size: 1.20em;
	line-height: 34px;
	padding: 0 15px;
	text-align: center;
}
.dayNum b {color: #ffffff;}
/*card_xq*/
.card_xq .xqtp {position: relative;}
.xqtp img {display: block;width: 100%;}
.xqtp .dayNum {top: 8px;left: 2px;}
/*ljgm*/
.ljgm {height: 44px;padding: 0 12px;background: #ffffff;overflow: hidden;}
.ljgm span,.ljgm a {font-size: 1.2em;color: #00cc99;line-height: 44px;display: inline-block;}
.ljgm a {float: right;}
/*explain*/
.explain {padding: 4px 12px;}
.explain p {
	color: #979797;
	font-size: 0.94em;
	line-height: 24px;
	padding-top: 10px;
}
.explain p span {font-weight: bold;color: #979797;padding: 0 4px;}