/*公用隐藏*/
.lright .zz,.lright .cbs {white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
/*smjs*/
.smjs {
	background: url('../images/stay.png') no-repeat;
	background-size: 100%;
	position: relative;height: 100%;height: 100%;
	min-height: 400px;
	overflow: hidden;
}
/*Scan*/
.Scan {
	position: relative;z-index: 9999;}
.Scan p {color: #ffffff;font-size: 1.14em;padding:8% 0;text-align: center;}
.Scan a {width: 40%;display: block;}
.Scan a img {display: block;width: 100%;}
/*tree*/
.smjs .tree img {display: block;width: 100%;}
/*sm_comm*/
.sm_comm {
	/*height: 254px;*/
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-overflow-scroll:touch;
}
.more_map,.link {background: #ffffff;}
.more_map .more,.more_map .map {padding: 0 12px;}
.more_map .more, .more a,.more_map .map {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.more a {
	float: right;
	background: url('../images/sjt.png') no-repeat right;
	padding-right: 14px;
	background-size: 10px;
}
.more_map .map {display: block;border-top: 1px solid #f2f2f2;}
.map .public {
	float: left;
	width: 76%;
	font-size: 0.8em;
	color: #2f2f2f;
	line-height: 40px;
}
.map .gd {float: right;color: #979797;font-size: 0.74em;line-height: 40px;} 
.link {border-top: 10px solid #f2f2f2;overflow: hidden;}
.link li {float: left;width: 33%;/*height: 132px;*/}
.link li a {float: left;text-align: center;/*height: 132px;*/width: 100%;padding: 12% 0;}
.link li.wdqb {width: 34%;}
.link li.wdqb a {border:1px solid #f2f2f2;border-width: 0 1px 0 1px;}
.link li a img {display: block;width: 50%;/*margin-top: 22px;*/}
.link li a span {display: block;color: #2f2f2f;line-height: 20px;margin-top: 14px;}
.sm_comm .help {background: #000000;text-align: center;height: 32px;}
.sm_comm .help a,.sm_comm .help span {
	color: #ffffff;
	display: inline-block;
	font-size: 0.76em;
	line-height: 30px;
}
/*--------借书码LibraryCode-------*/
.LibraryCode {}
/*.bjk {
	box-shadow: 0px 0px 10px 0px #000000;
	margin: 6px 24px 0;
	width: 90%;
	height: 0;
	padding-bottom: 154%;
}*/
/*nav3*/
.nav3 {height: 44px;padding: 0 12px;overflow: hidden;}
.nav3 .Return {float: left;}
.nav3 .Return img {
	float: left;
	width: 12px;
	height: 20px;
	margin: 12px 6px 0 0;
}
.nav3 .Return span,.nav3 .grzx {color: #ffffff;line-height: 45px;}
.nav3 .grzx {float: right;}
/*jsm*/
.jsm {
	border-radius: 6px;
	box-shadow: 0px -2px 6px #000000;
	margin: 6px 24px 0;
	padding: 6% 0 50%;
	text-align: center;
}
.jsm p {color: #ffffff;line-height: 24px;font-size: 0.94em;}
.jsm .bt {font-size: 1.5em;line-height: 30px;}
.jsm .ewm {display: block;text-align: center;}
.jsm .ewm img {width: 50%;border-radius: 4px;}
/*LCcomm*/
.LCcomm {
	position: absolute;
	bottom: 26px;
	left: 0;
	margin: 0 24px;
	border-radius: 6px;
	/*width: 87%;*/
	padding-bottom: 10px;
	min-height: 230px;
	/*box-shadow: 0px 0px 10px 0px #000000;*/
	background: #ffffff;	
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 2px 6px;
}
.LCcomm .ddjy {
	position: relative;
	/*top: -10px;*/
	/*background: #000000;*/
	height: 26px;
	/*background: url('../images/tmbj.png');*/
	background: #188691;
	padding: 1% 0;
	text-align: center;
	overflow: hidden;
}
.ddjy span {
	display: block;
	width: 114px;
	color: #ffffff;
	line-height: 26px;
	background: url('../images/wait.png') no-repeat left;
	background-size: 20px;
}
.LCcomm .LClink {
	/*background: #ffffff;*/
	display: block;
	position: relative;
	left: 0;
	padding-left: 124px;
	min-height: 130px;
	padding-top: 20px;
}
.LClink .limg {
	position: absolute;
	left: 6px;
	width: 112px;
}
.LCcomm .lright {padding-right: 10px;}
.lright .zz,.lright .cbs {height: 20px;}
.lright span {display: block;color: #626262;font-size: 0.76em;line-height: 20px;word-break: break-all;}
.lright span b {color: #626262;}
.lright .sm {color: #000000;font-size: 0.94em;}
.LCcomm .Borrow {
	color: #00cc99;font-size: 1.14em;
	/*background: #ffffff;*/
	text-align: center;
	padding: 3% 0;
	/*padding: 2%;*//*
	border-radius: 0px 0px 6px 6px;*/
}
.Borrow span {color: #00cc99;}

.lright .sm,.lright .jsdd {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*qxjy*/
.qxjy {
	position: fixed;
	bottom: 10px;
	height: 34px;
	width: 100%;
}
.qxjy a {
	color: #ffffff;
	display: block;
	width: 200px;
	line-height: 34px;
	margin: 0 auto;
	background-color:#000000;
	background-color:rgba(0,0,0,0.7);
	text-align: center;
	border-radius: 4px;
}





